.header {
  color: #ad6327;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.paragraph {
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
