body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
}

.navbar {
  background-color: blue;
  width: 15vw;
  height: 100vh;
}
.search-filter {
  background-color: red;
  width: 85vw;
  height: 10vh;
}
.content-view {
  background-color: green;
  width: 85vw;
  height: 90vh;
}
